@using Qurrah.Business.Localization;
@using Qurrah.Web.Areas.Admin.Models;

@inject LanguageService _localization
@model FAQVM

@{
    ViewData["Title"] = @_localization.GetLocalizedString("FAQ.View.HeaderTitle");
    bool isLocalized = Model.Locales?.Any() == true && Model.LocalizedPropertyGroups?.Any() == true;
}

<form method="post" asp-action="UpdatePost">
    <div class="container p-3 p-4 mt-4">
        <div class="row pt-4">
            <div class="col-6">
                <h1>
                    @_localization.GetLocalizedString("FAQ.View.HeaderTitle")
                </h1>
            </div>

            <div class="col-6 @(_localization.CurrentLanguage == SupportedLanguage.Arabic ? "text-start" : "text-end")">
                <a asp-controller="FAQ" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> @_localization.GetLocalizedString("Button.Create.DefaultValue")
                </a>
            </div>
            <hr />
        </div>

        @if (isLocalized)
        {
            <div class="row pt-4"></div>
            <partial name="_FormTabs" model="@Model.Locales" />
        }

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel">
                <div class="row px-3 pt-4">
                    <strong class="mb-2"><label asp-for="FAQ.Question"></label></strong>
                    <input asp-for="FAQ.Question" class="form-control" disabled />
                </div>

                <div class="row px-3 pt-4">
                    <strong class="mb-2"><label asp-for="FAQ.Answer"></label></strong>
                    <textarea asp-for="FAQ.Answer" class="form-control" rows="5" disabled></textarea>
                </div>
            </div>
            @if (isLocalized)
            {
                <partial name="_LocalizedProperties" for="@Model.LocalizedPropertyGroups" />
            }
        </div>

        @if (isLocalized)
        {
            <hr>
        }

        <div class="row px-3">
            <strong class="mb-2"><label asp-for="FAQ.FAQType.Name"></label></strong>
            <input asp-for="FAQ.FAQType.Name" class="form-control" disabled />
        </div>

        <div class="row px-3 mt-4">
            <strong class="mb-2"><label asp-for="FAQ.DisplayOrder"></label></strong>
            <input asp-for="FAQ.DisplayOrder" class="form-control" disabled />
        </div>

        <div class="row px-3 pt-4">
            <a class="btn btn-primary mx-1" asp-action="Index" style="width:150px">
                @_localization.GetLocalizedString("Button.Bcak.DefaultValue")
            </a>
            <a class="btn btn-primary mx-1" asp-action="Update" asp-route-id="@Model.FAQ.Id" style="width:150px">
                @_localization.GetLocalizedString("Button.Edit.DefaultValue")
            </a>
            <a class="btn btn-danger mx-1" style="width:150px" onclick='return deleteType(@Model.FAQ.Id, `@_localization.GetLocalizedString("SweetAlert.Question")`
                                                                                              , `@_localization.GetLocalizedString("SweetAlert.Description")`
                                                                                              , `@_localization.GetLocalizedString("SweetAlert.ConfirmButtonText")`
                                                                                              , `@_localization.GetLocalizedString("SweetAlert.CancelButtonText")` )'>
                @_localization.GetLocalizedString("Button.Delete.DefaultValue")
            </a>
        </div>
    </div>
</form>
@section Scripts{
    <script src="~/js/admin/faq/index.js"></script>
}