@using Localization.Services;
@inject LanguageService _localization
@using Qurrah.Models.Integration.DTOs.FAQType;
@model FAQTypeCreateDTO

@{
    ViewData["Title"] = @_localization.GetLocalizedString("FAQ.Create.HeaderTitle");
}

<form method="post" asp-action="Create">
    <div class="container p-3 p-4 mt-4">
        <div class="row pt-4">
            <div class="col-6">
                <h1>
                    @_localization.GetLocalizedString("FAQ.Create.HeaderTitle")
                </h1>
            </div>

            <div class="col-6 @(_localization.CurrentLanguage == SupportedLanguage.Arabic ? "text-start" : "text-end")">
                <a asp-controller="FAQType" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> @_localization.GetLocalizedString("Button.Create.DefaultValue")
                </a>
            </div>
            <hr />
        </div>

        <div class="row pt-4"></div>

        <div class="row mb-3">
            <strong class="mb-2"><label asp-for="NameAr"></label></strong>
            <input asp-for="NameAr" class="form-control" />
            <span asp-validation-for="NameAr" class="text-danger"></span>
        </div>

        <div class="row mb-3">
            <strong class="mb-2"><label asp-for="DescriptionAr"></label></strong>
            <textarea asp-for="DescriptionAr" class="form-control" rows="5"></textarea>
        </div>

        <div class="row mb-3">
            <strong class="mb-2"><label asp-for="NameEn"></label></strong>
            <input asp-for="NameEn" class="form-control" />
            <span asp-validation-for="NameEn" class="text-danger"></span>
        </div>

        <div class="row mb-3">
            <strong class="mb-2"><label asp-for="DescriptionEn"></label></strong>
            <textarea asp-for="DescriptionEn" class="form-control" rows="5"></textarea>
        </div>

        <div class="row mb-3">
            <strong class="mb-2"><label asp-for="DisplayOrder"></label></strong>
            <input asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">
            @_localization.GetLocalizedString("Button.Submit.DefaultValue")
        </button>
        <a class="btn btn-secondary" asp-action="Index" style="width:150px">
            @_localization.GetLocalizedString("Button.Cancel.DefaultValue")
        </a>
    </div>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}