@using Qurrah.Business.Localization;
@using Qurrah.Web.Areas.Admin.Models;

@inject LanguageService _localization
@model FAQTypeVM

@{
    ViewData["Title"] = @_localization.GetLocalizedString("FAQ.Create.HeaderTitle");
    bool isLocalized = Model.Locales?.Any() == true && Model.LocalizedPropertyGroups?.Any() == true;
}

<form method="post" asp-action="Create">
    <div class="container p-3 p-4 mt-4">
        <div class="row pt-4">
            <div class="col-6">
                <h1>
                    @_localization.GetLocalizedString("FAQ.Create.HeaderTitle")
                </h1>
            </div>
            <hr />
        </div>

        @if (isLocalized)
        {
            <div class="row pt-4"></div>
            <partial name="_FormTabs" model="@Model.Locales" />
        }

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel">
                <div class='row px-3 @(isLocalized ? "pt-4" : string.Empty)'>
                    <strong class="mb-2"><label asp-for="FAQType.Name"></label></strong>
                    <input asp-for="FAQType.Name" class="form-control" />
                    <span asp-validation-for="FAQType.Name" class="text-danger"></span>
                </div>

                <div class="row px-3 pt-4">
                    <strong class="mb-2"><label asp-for="FAQType.Description"></label></strong>
                    <textarea asp-for="FAQType.Description" class="form-control" rows="5"></textarea>
                </div>
            </div>

            @if (isLocalized)
            {
                <partial name="_LocalizedProperties" for="@Model.LocalizedPropertyGroups" />
            }
        </div>

        @if (isLocalized)
        {
            <hr>
        }

        <div class="row px-3">
            <strong class="mb-2"><label asp-for="FAQType.DisplayOrder"></label></strong>
            <input asp-for="FAQType.DisplayOrder" class="form-control" />
            <span asp-validation-for="FAQType.DisplayOrder" class="text-danger"></span>
        </div>

        <div class="row px-3 pt-4">
            <button type="submit" class="btn btn-primary mx-1" style="width:150px">
                @_localization.GetLocalizedString("Button.Submit.DefaultValue")
            </button>
            <a class="btn btn-secondary" asp-action="Index" style="width:150px">
                @_localization.GetLocalizedString("Button.Cancel.DefaultValue")
            </a>
        </div>
    </div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}