@using Qurrah.Business.Localization;
@using Qurrah.Integration.ServiceWrappers.DTOs.FAQ;
@inject LanguageService _localization
@model IEnumerable<FAQClassified>

@{
    ViewData["Title"] = @_localization.GetLocalizedString("Menu.TopMenu.Public.FAQ");
}

<link href="~/css/faqs-collapse-expand.css" rel="stylesheet" />

<div class="container p-3 p-4 mt-4">
    <div class="row pt-4">
        <div class="col-6">
            <h1>
                @_localization.GetLocalizedString("Public.FAQ.Index.HeaderTitle")
            </h1>
        </div>

        <hr />
    </div>

    <div class="row pt-4"></div>

    @{
        bool isArabic = _localization.CurrentLanguage == SupportedLanguage.Arabic;
        foreach (var group in Model)
        {
            <h3>
                @(group.FAQType)
            </h3>

            foreach (var faq in group.FAQs.OrderBy(q => q.DisplayOrder))
            {
                <p class="accordion">@(faq.Question)</p>
                <div class="panel">@(faq.Answer)</div>
            }
        }
    }
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/faqs-collaps-expand.js"></script>
}