@using Localization.Services;
@inject LanguageService _localization
@using Qurrah.Models.Integration.DTOs.FAQType;
@model IEnumerable<FAQTypeDTO>
@{
    ViewData["Title"] = @_localization.GetLocalizedString("FAQType.Index.HeaderTitle");
}

<div class="container p-3 p-4 mt-4">
    <div class="row pt-4">
        <div class="col-6">
            <h1>
                @_localization.GetLocalizedString("FAQType.Index.HeaderTitle")
            </h1>
        </div>

        <div class="col-6 @(_localization.CurrentLanguage == SupportedLanguage.Arabic ? "text-start" : "text-end")">
            <a asp-controller="FAQType" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> @_localization.GetLocalizedString("Button.Create.DefaultValue")
            </a>
        </div>
        <hr />
    </div>

    <div class="row pt-4"></div>
    <table id="tblData" class="table table-striped align-middle pt-5 w-100">
        <thead>
            <tr>
                <th>@_localization.GetLocalizedString("FAQType.Index.Table.FAQTypeAr")</th>
                <th>@_localization.GetLocalizedString("FAQType.Index.Table.FAQTypeEn")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var faqType in Model)
            {
                <tr>
                    <td>@faqType.NameAr</td>
                    <td>@faqType.NameEn</td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a asp-action="View" asp-route-id="@faqType.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-zoom-in"></i>
                            </a>
                            <a asp-action="Update" asp-route-id="@faqType.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a class="btn btn-danger mx-2" onclick='return deleteType(@faqType.Id, `@_localization.GetLocalizedString("SweetAlert.Question")`
                                                                                                 , `@_localization.GetLocalizedString("SweetAlert.Description")`
                                                                                                 , `@_localization.GetLocalizedString("SweetAlert.ConfirmButtonText")`
                                                                                                 , `@_localization.GetLocalizedString("SweetAlert.CancelButtonText")` )'>
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/admin/faqtype/index.js"></script>
}